@font-face {
	font-family: "SF-Pro-Display-Thin";
	src: url("Resources/SF Pro Display/SF-Pro-Display-Thin.woff2");
	font-display: swap;
}
@font-face {
	font-family: "SF-Pro-Display-Light";
	src: url("Resources/SF Pro Display/SF-Pro-Display-Light.woff2");
	font-display: swap;
}
@font-face {
	font-family: "SF-Pro-Display-Regular";
	src: url("Resources/SF Pro Display/SF-Pro-Display-Regular.woff2");
	font-display: swap;
}
@font-face {
	font-family: "SF-Pro-Display-Medium";
	src: url("Resources/SF Pro Display/SF-Pro-Display-Medium.woff2");
	font-display: swap;
}
@font-face {
	font-family: "SF-Pro-Display-Semibold";
	src: url("Resources/SF Pro Display/SF-Pro-Display-Semibold.woff2");
	font-display: swap;
}
@font-face {
	font-family: "SF-Pro-Display-Bold";
	src: url("Resources/SF Pro Display/SF-Pro-Display-Bold.woff2");
	font-display: swap;
}

@media (prefers-color-scheme: light) {
	body {
		background: #bdbdbd;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #747474;
	}
}

body {
	font-family: "SF-Pro-Display-Regular";
	background-image: url(Resources/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	cursor: default;
	background-color: rgb(36, 36, 36);
}

.row [class*='col-'] {
		transition: all 0.42s ease;
}

.panel {
	min-height: 10rem;
	background: rgba(186, 186, 186, 0.3);
	backdrop-filter: blur(0.8rem);
	-webkit-backdrop-filter: blur(0.8rem);
	border: 0.14rem rgba(255, 255, 255, 0.24) solid;
	overflow: hidden;
}

.addTaskPanel {
	position: sticky;
	top: 1.5rem;
}

.panel .hstack {
	height: 5rem;
}

.text-fg {
	color: #fff;
}

.headline {
	margin-top: 2.4rem;
	margin-bottom: 1.0rem;
	text-align: center;
	font-family: "SF-Pro-Display-Thin";
	font-size: 3.2rem;
	animation-name: slideOut;
	animation-duration: 0.75s;
	animation-delay: 1.7s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

.title {
	padding-top: 0.4rem;
	padding-left: 0.8rem;
	text-align: left;
	font-family: "SF-Pro-Display-Semibold";
	font-size: 1.8rem;
}

.subtitle {
	padding-top: 0;
	font-family: "SF-Pro-Display-Light";
	font-size: 1.2rem;
	opacity: 0.8;
}

#addBtn {
	font-family: "SF-Pro-Display-Medium";
	font-size: 1.5rem;
	padding-top: 0.35rem;
	padding-left: 0.4rem;
	margin: 0.7rem;
	width: 3.1rem;
	height: 3.1rem;
	color: white;
	background: rgba(255, 255, 255, 0.25);
	cursor: default;
	transition: all 0.1s ease-out;
}

#addBtn:hover {
	background: rgba(255, 255, 255, 0.4);
}

.pop {
	scale: 0.85;
}
#addBtn.pop {
	color: black!important;
	background: rgba(255, 255, 255, 1)!important;
}

.btnRow {
	margin: 0.2rem 1.3rem 0.8rem;
}

#calBtn {
	width: 2.2rem;
	height: 2.2rem;
	padding: 0.1rem 0.2rem 0;
	margin-right: 0.4rem;
	color: white;
	background: rgba(255, 255, 255, 0.25);
	font-size: 1.1rem;
	transition: all 80ms ease;
}

#calBtn:hover {
	background: rgba(255, 255, 255, 0.4);
}

#calBtn:focus {
	outline: 4px rgba(69, 104, 184, 0.8) solid;
	background: rgba(255, 255, 255, 0.4);
}

#calBtn.pop {
	color: black;
	background: rgba(255, 255, 255, 1);
}
#calBtn.active {
	color: black;
	background: rgba(255, 255, 255, 1);
}

#timeInput {
	height: 2.2rem;
	-webkit-appearance: none;
	font-size: 1.1rem;
	color: white;
	background: rgba(255, 255, 255, 0.25);
	padding: 0.2rem 0.4rem 0;
	overflow: hidden;
	transition: all 0.1s ease-out;
}

#timeInput:hover {
	background: rgba(255, 255, 255, 0.4);
}

#timeInput:active,
#timeInput:focus {
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0.4);
}

#btns {
	border-radius: 5rem;
}

#btns.requiredAlert {
	outline: 3px rgba(255,69,58, 1) solid;
}

.btndivthing {
	margin-top: -0.5rem;
	margin-bottom: -0.2rem;
}

.textRow {
	margin: 0.2rem 1.3rem 1.3rem;
	background: rgba(255, 255, 255, 0.25);
	transition: all 0.1s ease-out;
	overflow: hidden;
}

#textInput {
	cursor: text;
	padding: 0 0.6rem 0;
	font-size: 1.4rem;
	text-align: left;
	outline: none;
	overflow: hidden;
}

#textInput:hover {
	background: rgba(255, 255, 255, 0.3);
}

#textInput:active,
#textInput:focus {
	background: rgba(255, 255, 255, 0.3);
}

.textRow.requiredAlert {
	outline: 3px rgba(255,69,58, 1) solid;
	border-radius: 5rem;
}

.placeholder-text {
	color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 250px) {
	#smallViewWarning {
		display: none!important;
	}
}

#smallViewWarning {
	padding: 1rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	cursor: not-allowed;
}

@keyframes slideOut {
		99% {
			margin-top: -5.75rem;
			opacity: 1
		}
		100% {
			margin-top: -5.75rem;
			opacity: 0
		}
}

*.unselectable {
	 -moz-user-select: none;
	 -khtml-user-select: none;
	 -webkit-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
}

/*
 * Box sizing fix
 */
*,
*:before,
*:after {
	box-sizing: border-box;
}
/*
 * Container
 */
.calContainer {
	opacity: 0;
	display: none;
	position: absolute;
	left: 0.8rem;
	margin-top: 8.6rem;
	max-width: 18rem;
	transition: all 180ms ease;
}
.calContainer * {
	font-weight: normal;
	transition: all 60ms ease;
}
.calContainer.active {
	opacity: 1;
	display: initial;
}
/*
 * Date Picker
 */
.date-picker {
	position: relative;
}
.date-picker__calendar {
	left: 0;
	position: absolute;
	top: 100%;
	width: 274px;

	overflow: 0;

	transition: opacity 0.2s ease-out,
							visibility 0.2s step-start 0.2s;
	visibility: hidden;
}
.date-picker__calendar_visible {
	opacity: 1;
	transition-delay: 0s;
	visibility: visible;
}
/*
 * Calendar
 */
.calendar {
	background: rgba(137, 137, 137, 0.4);
	backdrop-filter: blur(2rem);
	-webkit-backdrop-filter: blur(2rem);
	border: 0.2rem rgba(200, 200, 200, 0.8) solid;
	padding: 14px;
	width: 274px;
	border-radius: 2rem;
	color: white;
	font-family: "SF-Pro-Display-Medium";
	line-height: 1.2;
	text-align: center;
	box-shadow: 2px 2px 30px rgba(18, 18, 18, 0.6);
}
.calendar__header {
	position: relative;

	padding: 10px 35px;
	font-size: 18px;
	letter-spacing: 0.05em;
}
.calendar__year {
	color: #fff;
}
.calendar__month {
	color: #fff;
	margin-left: -104px;
}
.calendar__btn {
	position: absolute;
	top: 8px;

	display: block;
	height: 20px;
	padding: 0;
	width: 20px;

	text-indent: -9999px;

	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	overflow: hidden;
}
.calendar__btn:before {
	content: "";

	position: absolute;
	top: 6px;

	display: block;
	height: 12px;
	width: 12px;

	border-left: 2px solid #dfdfdf;
	border-top: 2px solid #dfdfdf;
	transform-origin: center;
}
.calendar__btn_prev {
	right: 42px;
}
.calendar__btn_prev:before {
	left: 8px;
	transform: rotate(-45deg);
}
.calendar__btn_next {
	right: 8px;
}
.calendar__btn_next:before {
	right: 8px;
	transform: rotate(135deg);
}
.calendar__btn_disabled {
	pointer-events: none;
}
.calendar__btn_disabled:before {
	border-color: rgba(255,255,255, 0.4);
}
.calendar__btn:hover:before {
	border-color: white;
}
.calendar__table {
	width: 100%;

	table-layout: fixed;
}
.calendar__table-col-header {
	padding: 8px 0;

	color: rgba(255,255,255,0.4);
	font-size: 14px;
	font-family: "SF-Pro-Display-Semibold";
	letter-spacing: 0.02em;
}
.calendar__table-cell {
	padding: 8px 0;

	color: rgba(255, 255, 255, 0.6);
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.05em;
}
.calendar__table-cell[data-date] {
	cursor: pointer;
}
.calendar__table-cell[data-date]:hover {
	color: white;
}
.calendar__table-cell_disabled {
	color: rgba(255,255,255,0.3);
	pointer-events: none;
}
.calendar__table-cell_selected {
	color: rgb(255,255,255);
}

#taskList {
	padding: 0.2rem 1.3rem 0rem;
}

.task {
	font-family: "SF-Pro-Display-Regular";
	font-size: 1.4rem;
	letter-spacing: 0.08rem;
	border-radius: 1.2rem!important;
	margin-bottom: 1.3rem;
	color: white;
	background: rgba(255, 255, 255, 0.4);
	border: none;
}

.task-main {
	padding-left: 0.4rem;
}

.task-text {
	margin-left: 1rem;
	word-break: break-word;
	text-align: left;
}

.l1 {
	position: relative;
	text-align: end;
}

.l1.hidden {
	opacity: 0;
}

.l2 {
	position: relative;
	top: -2.1rem;
	text-align: end;
	z-index: -1
}

.l2.hidden {
	opacity: 0;
}

.completeBtn {
	width: 2.2rem;
	height: 2.2rem;
	font-size: 1.4rem;
	padding: 0 0.3rem;
	color: white;
	background: rgba(0, 0, 0, 0.2);
}

.completeBtn:hover {
	background: rgba(0, 0, 0, 0.1);
}